.card {
  min-width: 230px;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.1s;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.badge {
  top: 10px;
  left: 20px;
  font-size: 1.4rem;
}

.card:hover {
  transform: scale(1.0125);
  box-shadow: 0 0 7px rgba(0,0,0,0.8);
}

.content { 
  height: 100%;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: #fff;
}

.content h1{
  font-size: 1.2rem !important;
}
.img {
  border-radius: 10px 10px 0 0;
}
.img img{
  width: 100%;
  height: 100%;
}

