.loginWrapper{
    min-height: 80vh;
    background-image: url(./loginBG.webp);
    width: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.welcomeTitle{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-family: var(--font-bold);
    font-size: 4em;
    color: var(--blue-clr);
    margin-bottom: 1em;
}
.btnLogin{
    
}
@media screen and (max-width:1000px) {
    .registerWrapper input{
        width:100%;
    }

}