.loginWrapper{
    min-height: 75vh;
}

.welcomeTitle{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-family: var(--font-bold);
    font-size: clamp(4em, 5vw, 6em);
    color: var(--blue-clr);
    margin-bottom: 1em;
}

@media screen and (max-width:1000px) {
    .registerWrapper input{
        width:100%;
    }

}