/* Styles Hamburguer Mobile */

button[aria-expanded="false"]>.close {
    display: none;
}

button[aria-expanded="true"]>.open {
    display: none;
}
.navbar{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.navbarBrand {
    font-family: var(--font-bold);
    color: var(--blue-clr);
    letter-spacing: 2px;
}

.navbarBrand span {
    color: #fff;
    font-size: 1.4rem;
}

.navbar-nav{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar-nav a{
    margin: 0 1.5em;
}

.loginRegisterContainer a:focus{
    background-color: rgba(255,255,255,0.9) !important;
}

.loginRegisterContainer{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginRegisterContainer a{
    margin: 0.5em 1em;
    color:black !important;
    background-color: var(--blue-clr);
    border: none;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s ;
}

.loginRegisterContainer a:hover{
    color:var(--blue-clr) !important;
    background-color: var(--dark-clr);
    outline: 1px solid var(--blue-clr);
}

.nav-link{
    border-radius: 20px;
    color: var(--blue-clr) !important;
    transition: 0.5s;
    margin: 0 10px;
    transition: 0.7s all;
}

.active{
    border-bottom: 8px solid var(--blue-clr);
    border-top: 8px solid var(--blue-clr);
    color: #fff !important;
    text-shadow: 0 0 3px #fff !important;
}
.navbar-toggler{
    background-color: var(--blue-clr) !important;
}

.navbar-toggler:active{
   box-shadow: none !important;
   outline: none !important;
}

/* 
.indicator{
    content:'';
    position:absolute;
    background-color: #212529;
    border-top: var(--blue-clr) 4px solid;
    border-bottom: var(--blue-clr) 4px solid;
    transition: 0.3s;
    width: 24%;
    height: 49px;
    top: 0;
    left: 60px;
    z-index: 0;
}
.navbar-nav a:nth-child(1).active ~ .indicator{
    transform: translateX(calc(100% * 0));
}
.navbar-nav a:nth-child(2).active ~ .indicator{
    transform: translateX(calc(100% * 1));
}
.navbar-nav a:nth-child(3).active ~ .indicator{
    transform: translateX(calc(96% * 2));
} */

@media screen and (max-width:1000px) {

    .loginRegisterContainer{
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .navbar-nav{
        width: 100%;
        margin:0 !important;
    }
    .loginRegisterContainer a{
        margin-top: 2em;
        margin-inline: 1em;
    }

}